.createMatch {

  //   background-image: url(../../../../assets/sfondo.jpeg);
  //   background-repeat: no-repeat;
  //   background-attachment: fixed;
  //   background-position: center center;

  .p-dropdown {
    width: 10rem;
  }

  .p-calendar {

    .p-datepicker {
      top: 43px !important;
    }
  }

  .p-card {
    color: black !important;

    .card-body {
      padding: 0;
    }
  }

  .noBorderSquadName {
    width: 100%;
    border: 0;
    font-size: 30px;
    height: 100%;
    background-color: unset;
    padding: 0;
  }

  .campo {
    width: 100%;
    border: 0;
    height: 100%;
    padding: 0;
    text-align: center;
    font-size: 20px;
  }

  .noBorder {
    width: 100%;
    border: 0;
    font-size: 86px;
    height: 70%;
    padding: 0;
  }

  .textSize {
    font-size: 86px;
  }

  .p-card .p-card-body {
    padding-top: 0;

    .p-card .p-card-content {
      padding-top: 0;
    }
  }

  .iconeGiocatore {
    border-bottom: 1px solid #dfdcdc;
  }

}
