<div *ngIf="!showed" class="showMatches">
  <h1>Modifica Partita</h1>
  <h3 *ngIf="schermoGrande">In questa pagina puoi consultare la lista delle partite e modificarne gli attributi</h3>
  <h3 *ngIf="!schermoGrande">Clicca su una partita per modificarla</h3>


  <div class="row pb-3">
    <div class="col-lg-4 col-md-6 col-6">
      <h5>Scegli torneo</h5>
      <p-dropdown [options]="torneiDropdown" (onChange)="getAllMatches()" [(ngModel)]="torneo" optionLabel="value"
        [filter]="true" filterBy="value" [showClear]="true" placeholder="Seleziona torneo">
        <ng-template pTemplate="selectedItem">
          <div class="tornei tornei-nome" *ngIf="torneo">
            <div>{{torneo.value}}</div>
          </div>
        </ng-template>
        <ng-template let-torneo pTemplate="item">
          <div class="tornei">
            <div>{{torneo.value}}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>
  </div>


  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
      <button pButton pRipple label="New" icon="pi pi-plus" (click)="createMatch()"
        class="p-button-success mr-2"></button>
      <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="ml-2 mr-2 p-button-danger"
        (click)="deleteSelectedMatch()" [disabled]="selectedMatches.length < 1"></button>
    </ng-template>

    <ng-template pTemplate=" right">
      <!-- <button pButton pRipple label="Esporta" icon="pi pi-file-excel" class="ml-2 p-button-help"
        (click)="esporta()"></button> -->
    </ng-template>
  </p-toolbar>

  <div style="position: relative;">
    <p-table #dt [value]="matches" [rows]="10" [paginator]="true" [globalFilterFields]="['id']"
      [(selection)]="selectedMatches" [rowHover]="true" dataKey="id"
      currentPageReportTemplate="Risultati per pagina : {last} di {totalRecords} partite"
      [showCurrentPageReport]="true">

      <!--Template for search and title-->
      <ng-template pTemplate="caption">
        <div class="d-flex align-items-center justify-content-between">
          <h5 class="p-m-0">Gestione partite</h5>
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
              placeholder="Cerca..." />
          </span>
        </div>
      </ng-template>

      <!--Template per header-->
      <ng-template pTemplate="header">
        <tr id="header">
          <th>
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pSortableColumn="data">Data <p-sortIcon field="data"></p-sortIcon>
          </th>
          <th pSortableColumn="ora">Ora <p-sortIcon field="ora"></p-sortIcon>
          </th>
          <th pSortableColumn="squadra1.nome" *ngIf="schermoGrande"> Squadra 1 </th>
          <th pSortableColumn="squadra1.nome" *ngIf="schermoGrande"> Squadra 2 </th>
          <th>Punteggio </th>
          <th *ngIf="schermoGrande"> </th>
        </tr>
      </ng-template>

      <!--Template risultati giocatori-->
      <ng-template pTemplate="body" let-match>
        <tr id="body">
          <td>
            <p-tableCheckbox [value]="match"></p-tableCheckbox>
          </td>
          <td (click)="editMatch(match)" style="font-weight: 600;">
            {{getData(match.data)| date: schermoGrande? 'dd/MM/yyyy' : 'dd/MM/yy'}}
          </td>
          <td (click)="editMatch(match)" style="font-weight: 600;">
            {{match.ora}}
          </td>
          <td (click)="editMatch(match)" *ngIf="schermoGrande">{{match.squadra1.nome}}</td>
          <td (click)="editMatch(match)" *ngIf="schermoGrande">{{match.squadra2.nome}}</td>
          <td (click)="editMatch(match)" style="font-weight: 600;">{{match.punteggio1}} - {{match.punteggio2}}</td>
          <td (click)="editMatch(match)" *ngIf="schermoGrande">
            <button pButton pRipple icon=" pi pi-pencil" class="p-button-rounded p-button-success mr-2"
              (click)="editMatch(match)"></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
              (click)="deleteMatch(match)"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
          In totale ci sono {{matches ? matches.length : 0 }} partite.
        </div>
      </ng-template>

    </p-table>
  </div>
</div>

<modify-match *ngIf="showed" [partita]="matchModify" [torneo]="torneo" (endModify)="showed = !showed">

</modify-match>
