<div class="row">
  <div class="pt-2 col-12 d-flex justify-content-center">
    <span>Inserisci l'indirizzo email per recuperare la password</span>
  </div>
</div>
<div class="row pt-4">
  <div class="col-12 d-flex justify-content-center">
    <div class="form-group">
      <span class="p-float-label">
        <input id="float-input" #email required type="text" pInputText />
        <label for="float-input">email</label>
      </span>
    </div>
  </div>
</div>

<div class="row pt-3">
  <div class="col-12 d-flex justify-content-center">
    <p-button label="Recupera password" (click)="authService.forgotPassword(email.value)"></p-button>
  </div>
</div>

<div class="row pt-3 ">
  <div class="pt-1 col-12 d-flex justify-content-center">
    <span style="cursor:pointer" (click)="backLogin()">Torna al login</span>
  </div>
</div>
