<div #homePage id="homePage">
  <p-toolbar class="fluttuante">
    <div class="p-toolbar-group-left col-4 d-flex justify-content-end">
      <p-button type="text" (click)="display = true" icon="pi pi-bars" label="Menu"></p-button>
    </div>

    <div class="p-toolbar-group col-4 d-flex justify-content-center">
      <i (click)="backHome()" class="pi pi-home" style="cursor: pointer; font-size: 2rem; color:#2196F3"
        label="Menu"></i>
    </div>

    <div class="p-toolbar-group-right col-4 d-flex justify-content-end">
      <button pButton pRipple type="button" icon="pi pi-user" (click)="navigateLogin()"
        class="p-button-rounded p-button-info"></button>
    </div>
  </p-toolbar>

  <!-- SIDEBAR -->
  <!-- Quando l'utente è loggato -->
  <p-sidebar [(visible)]=" display" [modal]="false">
    <ng-container *ngIf="authService.isLoggedIn == true">
      <div class="row">
        <div class="col-8">
          <span></span>
        </div>
        <div class="col-4">
          <i (click)="logout()" class="pi pi-sign-out" style="cursor: pointer; font-size: 2rem; color:#2196F3"
            label="Logout"></i>
        </div>
      </div>
    </ng-container>


    <!-- Quando l'utente non è loggato -->
    <ng-container *ngIf="authService.isLoggedIn != true">
      <span>Effettua il login</span>
    </ng-container>
  </p-sidebar>

  <router-outlet></router-outlet>

  <p-toast position="top-center"></p-toast>
</div>
